@import "tailwindcss" source(none);
@source "../";

@plugin "daisyui" {
    themes: light --default, dark --prefersdark;
}

@layer base {
    body {
        @apply bg-base-200 min-h-screen antialiased;
    }
}

@layer utilities.daisyui.component {
    .input {
        @apply w-full;
    }
}

@layer utilities {
    [x-cloak] {
        @apply hidden;
    }
}
